/* Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body .bodyauthentication {
  background-color: #ffffff;
  height: 100vh;
}

/* Landing page styles */
.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 25%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
}


.authentication .h1auth {
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-align: center;
  color: #000000;
}

.authentication p {
  font-size: 0.8rem;
  margin-bottom: 10px;
  text-align: center;
}

.authentication .submit {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 30%;
  height: 50px;
  margin-top: 15px;
}

.submit:hover {
  cursor: pointer;
}


/* Media queries */
/* @media screen and (min-width: 768px) {
  .authentication {
    padding: 0 20px;
    height: 60%;
    width: 20%;
  }

  .authentication h1 {
    font-size: 1.8rem;
  }

  .authentication p {
    font-size: 1.8rem;
    margin-bottom: 60px;
  }

  .authentication button {
    font-size: 1.5rem;
    padding: 15px 30px;
  }
} */

.authentication form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* max-width: 500px; */
}

.authentication label {
  display: block;
  width: 80%;
  margin-bottom: 5px;
}

.fullname {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 80%;
gap: 5%;
}

.authentication input[type="text"],
.authentication input[type="email"],
.authentication input[type="password"] {
width: 80%;
padding: 4px;
border: none;
border-bottom: 2px solid #999;
margin-bottom: 30px;
height: 35px;
outline: none;
font-size: small;
}

.authentication input[type="text"]::placeholder,
.authentication input[type="email"]::placeholder,
.authentication input[type="password"]::placeholder {
color: #999;
font-size: 0.6rem;
padding-left: 10px;
}

.authentication input[type="text"]:focus,
.authentication input[type="email"]:focus,
.authentication input[type="password"]:focus {
border: none;
outline: none;
border-bottom: 2px solid #000000;
}

.authentication .authtext {
margin-top: 20px;
font-size: 1em;
}

.authentication .authtext .aauth {
font-weight: bold;
text-decoration: underline;
color: #000000;
}

.authentication .authtext .aauth:hover {
cursor: pointer;
background-color: transparent;
}