.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #FFFFFF;
    width: 30%;
    border: 1px solid #C7C7C7;
    /* border-radius: 10px; */
  }

  .feedback-container .feedback-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #C7C7C7;
    width: 90%;
  }

  .feedback-container .cross {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    cursor: pointer;
  }
  
  .feedback-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .feedback-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .feedback-container textarea {
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    background-color: #F9F9F9;
    width: 90%;
  }
  
  .feedback-container button {
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: #306D95;
    color: #fff;
    padding: 5px 20px;
    height: 30px;
    border-radius: 15px;
  }

  .feedback-container button:hover {
    background-color: #000;
  }

  .feedback-container textarea:focus {
    outline: 1px solid #333;
  }
  
.feedback-container .feedback-box-last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.feedback-container .feedback-box-last-row button {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #000000;
  color: #fff;
}

.feedback-container .feedback-box-last-row button:hover {
  cursor: pointer;
}

.feedback-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-image: url(../../public/assets/feedbackbutton.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}