.feedback-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #c7c7c7;
    width: 30%;
    border: 1px solid #808080;
    border-radius: 10px;
  }
  
  .feedback-container form {
    display: flex;
    flex-direction: column;
  }
  
  .feedback-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .feedback-container textarea {
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .feedback-container button {
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
  }

  .feedback-container button:hover {
    background-color: #000;
  }

  .feedback-container textarea:focus {
    outline: 1px solid #333;
  }
  
.feedback-container .feedback-box-last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}