/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Landing page styles */
  .LandingPage {
    background-image: url(../../public/assets/bgimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    /* background-color: #f5f5f5; */
  }
  
  .LandingPage h1 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
  }
  
  .LandingPage p {
    font-size: 0.8rem;
    margin-bottom: -10px;
    text-align: center;
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
  }
  
  .LandingPage button {
    height: 5%;
    width: 15%;
    left: 560px;
    top: 477px;
    border-radius: 50px;
    background-color: #0D1022;
    border: none;
    margin: 10px;
  }
  
  .LandingPage button:hover {
    background-color: #005fa3;
  }
  
  /* Media queries */
  @media screen and (min-width: 768px) {
    .LandingPage {
      padding: 0 40px;
    }
  
    .LandingPage h1 {
      font-size: 4rem;
    }
  
    .LandingPage p {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  
    .LandingPage button {
      font-size: 1.5rem;
      padding: 15px 30px;
    }

    .LandingPage a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .beta-symbol {
    color: #D4AF37; /* sets the color to dull yellow */
    font-weight: bold; /* makes the text bold */
    font-style: italic; /* makes the text italic */
  }
  