/* Global styles */
  body .bodylandingpage {
    background-image: url(../../public/assets/bgimage.webp);
    background-image: url(../../public/assets/bgimage.png), url(../../public/assets/bgimage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
  /* Landing page styles */
  .LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* padding: 0 20px; */
    /* background-color: #f5f5f5; */
  }
  
  .LandingPage .logocenter {
    margin: 0 auto;
    font-size: 3rem;
    margin-bottom: 10px; 
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 400;
  }
  
  .LandingPage p {
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 300;
  }
  
  .LandingPage button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 15%;
    border-radius: 50px;
    background-color: #0D1022;
    opacity: 0.9;
    border: none;
    margin: 10px;
    text-decoration: none;
    font-size: 40%;
  }

  .LandingPage .signupbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    min-width: 150px;
    border-radius: 50px;
    background-color: #0D1022;
    opacity: 0.9;
    border: none;
    margin: 10px;
    text-decoration: none;
    font-size: 150%;
    transition: all 0.3s ease;
  }

  .LandingPage .loginbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    min-width: 150px;
    border-radius: 50px;
    background-color: #0D1022;
    opacity: 0.9;
    border: none;
    margin: 10px;
    text-decoration: none;
    font-size: 150%;
    transition: all 0.3s ease;
  }
  
  .LandingPage .signupbutton:hover {
    background-color: #005fa3;
  }

  .LandingPage .loginbutton:hover {
    background-color: #005fa3;
  }

  .LandingPage a {
    text-decoration: none;
    color: #ffffff;
  }
  
  /* Media queries */
  @media screen and (min-width: 768px) {
    /* .LandingPage {
      padding: 0 40px;
    } */
  
    .LandingPage .logocenter {
      font-size: 4rem;
      margin-bottom: 10px; 
      text-align: center;
      color: white;
      font-style: normal;
      font-weight: 400;
    }
  
    .LandingPage p {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  
    .LandingPage button {
      font-size: 1.5em;
      /* padding: 15px 30px; */
    }

    .LandingPage a {
      text-decoration: none;
      color: #ffffff;
    }

    .LandingPage .signupbutton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5%;
      width: 15%;
      border-radius: 50px;
      background-color: #0D1022;
      opacity: 0.9;
      border: none;
      margin: 10px;
      text-decoration: none;
      font-size: 150%;
      transition: all 0.3s ease;
    }

    .LandingPage .loginbutton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5%;
      width: 15%;
      border-radius: 50px;
      background-color: #0D1022;
      opacity: 0.9;
      border: none;
      margin: 10px;
      text-decoration: none;
      font-size: 150%;
      transition: all 0.3s ease;
    }
  }

  .beta-symbol {
    color: #D4AF37; /* sets the color to dull yellow */
    font-weight: bold; /* makes the text bold */
    font-style: italic; /* makes the text italic */
  }