.navbarsearchpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 30px;
    font-size: 25px;
  }

.navbardark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px;
    font-size: 25px;
  }
  
.navbar-brand {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin-left: 60px;
}
  
.navbar-brand:hover {
  text-decoration: none;
  background-color: transparent;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
}
  
.navbar-right a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}
  
.navbar-right a:hover {
  text-decoration: underline;
}

.nav-link {
  color: white;
  font-family: "Montserrat";
  font-size: smaller;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin-right: 60px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: transparent;
}