.pdfsearch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0 5%;
}
  .bodypdfsearch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

.pdfsearch .headerpdfsearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.logopdfsearch {
    margin: 10px 0;
    margin-right: 10px;
  }

.urlsubmit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}

input[type="text"][name="url"] {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
  }
  input[type="text"][name="url"]:focus {
    border-color: #000000;
  }
  ::placeholder {
    color: #aaa;
  }  

  button[type="submit"] {
    background-color: #40b600;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    width: 10%;
  }
  button[type="submit"]:hover {
    background-color: #177e00;
  }
  
  .displayanswer {
    height: 100%;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .askcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .answercontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 80%;
  }
    .answer {
        width: 100%;
        white-space: pre-wrap;
        font-size: 1em; /* or any desired font size */
        padding: 10px;
    }

  .chatcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
  }