::selection {
  background: #1E90FF;
  color: #fff;
}

.pdfsearch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 5%;
  width: 90%;
}
  .bodypdfsearch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

.pdfsearch .headerpdfsearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchbar {
  /* fix it to the center of the screen */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* make it vertically center */
  height: 50vh;
}

.urlsubmit .input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: 1px solid #979797;
  border-radius: 100vh;
}

.logopdfsearch {
    margin: 10px 0;
    margin-right: 10px;
    cursor: pointer;
  }

.urlsubmit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.urlinput {
    height: 100%;
    padding: 10px;
    border-radius: 50vh;
    font-size: 16px;
    width: 95%;
    border: none;
  }
.urlinput:focus {
  border: none;
  outline: none;
  }
  ::placeholder {
    color: #aaa;
  }  

  button[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    width: 5%;
    /* color: #fff; */
    border: none;
    /* border-radius: 10px; */
    font-size: 16px;
    /* padding: 10px 20px; */
    cursor: pointer;
  }

.logocontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

  .headerbutton {
    background-color: #979797;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    /* margin: 5px; */
  }
  .headerbutton:hover {
    background-color: rgb(62, 62, 62);
  }
  
  .displayanswer {
    height: 100%;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 1px solid #ccc;
  }

  .askcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.answercontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-top: 50px; */
  width: 60%;
  height: 80%;
}
.answer {
    width: 90%;
    white-space: pre-wrap;
    font-size: 1em; /* or any desired font size */
    padding: 10px;
    padding-left: 20px;
}

.chatcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.qcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.qinlist {
  padding-left: 10px;
  padding-right: 20px;
}

.qinlist p {
  font-size: 0.9em;
  text-shadow: none; /* Set the initial shadow to none */
  transition: color 0.5s ease; /* Add a transition effect for a smoother animation */
}

.qinlist p:hover {
  cursor: pointer;
  color: #1E90FF;
}

.ask input[type="text"] {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 100vh;
  font-size: 16px;
  outline: none;
  /* margin-bottom: 10px; */
  width: 90%;
  /* remove all borders */
  border: none;
}
/* .ask input[type="text"]:focus {
  border-color: #000000;
} */
.ask ::placeholder {
  color: #aaa;
}  

.ask button[type="submit"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #1E90FF; */
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 25vh;
  font-size: 16px;
  /* padding: 10px 20px; */
  width: 10%;
  cursor: pointer;
  /* width: 20%; */
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.highlight {
  background-color: #ffff00;
}

.like-dislike {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.suggested {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
}

.suggested-box-body-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.suggested-box-body {
  margin: 0;
}

.suggested-box-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* align-items: center; */
  padding: 0 10px;
  margin: 15px 0;
  border-left: solid 3px #d4d4d4;
  min-width: 40%;
  font-size: 14px;
  min-height: 20%;
  max-height: 20%;
  height: 20%;
  margin-top: 0;
  /* border-radius: 10px; */
  /* height: 10%; */
  /* add a 0.5 sec transition */
  transition: border-left 0.5s ease;
}
.suggested-box-item:hover {
  cursor: pointer;
  border-left: solid 3px #1E90FF;
}

.suggestions-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  /* italic */
  font-style: italic;
}

.loadsearchresult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #979797;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 5px;
  cursor: pointer;
  width: 20%;
  text-decoration: none;
  min-width: 50px;
}

.scholarinput {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 10px;
  outline: none;
  margin-bottom: 10px;
  width: 70%;
  margin-right: 10px;
}
.scholarinput:focus {
  border-color: #000000;
}

.suggested-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin: 10px; */
  width: 70%;
  height: 20%;
}

.suggested-input .scholarbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #979797;
  color: #fff;
  border: none;
  border-radius: 100vh;
  font-size: 10px;
  cursor: pointer;
  width: 30%;
  height: 25px;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* if the items in the row overflow put it intto a new row, wrap it */
  flex-wrap: wrap;
}

.radio-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  border: 1px solid #979797;
  border-radius: 100vh;
  white-space: nowrap;
  padding: 0 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
} 

.radio-item:hover {
  cursor: pointer;
}
.radio-item input {
  display: none;
}

.radio-item label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  cursor: pointer;
  padding: 0 5px;
}

.radio-item .labelselected {
  background-color: #979797;
  border-radius: 100vh;
  color: #fff;
  width: 100%;
  padding: 0 5px;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  margin-left: 20px;
  width: 100%;
}

.qs {
  /* bold */
  /* font-weight: bold; */
  /* italic */
  font-style: italic;
  /* font-size: 0.9em; */
  /* background-color: #cdecff; */
  /* border-bottom: 1px solid #979797;
  margin: 0;
  padding: 0; */
  /* time for transition */
  transition: color 0.5s ease;
  margin-bottom: 10px;
}
.qs:hover {
  cursor: pointer;
  /* bg color */
  color: #1E90FF;
}

.limitedaccess {
  margin-left: 10px;
}

.kp {
  /* underline */
  text-decoration: underline;
  /* underline color */
  text-decoration-color: #979797;
  /* underline style */
  text-decoration-style: dashed;
  /* underline offset from text */
  text-underline-offset: 3px;
  /* transition */
  transition: color 0.5s ease;
}

.kp:hover {
  cursor: pointer;
  /* bg color */
  color: #1E90FF;
}

.question {
  width: 90%;
  padding-left: 20px;
  font-size: 1.4em;
  /* bold */
  font-weight: bold;
  margin: 0;
  color: #000000;
  /* decreast the space b/w lines */
  line-height: 1.4em;
}

.title {
  /* width: 80%; */
  /* bold */
  font-weight: bold;
  /* italic */
  font-style: italic;
  color: #1E90FF;
  /* decreast the space b/w lines */
  line-height: 1.4em;
  margin: 0 10px;
  max-width: 300px;
  /* overflow: ellipsis; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.docinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.closedoc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2px;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  border: 1px solid #979797;
  color: #979797;
  background-color: transparent;
}
.closedoc:hover {
  cursor: pointer;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.askcontainer h4 {
  /* margin: 0; */
  margin-bottom: 10px;
  /* not bold */
  font-weight: normal;
}

.suggested h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.getrecom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  /* remove all default button deco */
  border: 3px solid #1E90FF;
  border-radius: 100vh;
  background: none;
  padding: 0;
  color: #1E90FF;
  font-size: 1em;
  cursor: pointer;
  padding: 5px;
  text-decoration: underline;
  
  /* bold */
  font-weight: bold;
}

.signaturebutton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* remove all default button deco */
  border: 3px solid #1E90FF;
  border-radius: 100vh;
  background: none;
  color: #1E90FF;
  font-size: 1em;
  cursor: pointer;
  padding: 5px;
  /* margin-right: 5px; */
  text-decoration: underline;
  /* width === height */
  width: 3px;
  height: 3px;
  
  /* bold */
  font-weight: bold;
}
/* 
.askbutton {
  display: flex;
  flex-direction: row;
} */

.askinputcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  border: 1px solid #979797;
  border-radius: 100vh;
}

.suggestion-author-names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* wrap if flex overflows */
  flex-wrap: wrap;
  color: #979797;
  background-color: transparent;
  margin: 0;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 10px; */
  border-radius: 5px;
  height: 20px;
  margin-top: 0;
  /* border: 1px solid #979797; */
  color: #979797;
  background-color: transparent;
  /* padding: 0 5px; */
  text-decoration: underline;
  /* make underline thinner */
  text-decoration-thickness: 1px;
  /* underline color */
  text-decoration-color: #979797;
  /* underline offset */
  text-underline-offset: 2px;
  margin-right: 8px;
  font-size: 0.8em;
}

.suggestion-other-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #979797;
  background-color: transparent;
  width: 100%;
  margin-top: 10px;
}

.suggestion-year {
  font-size: 0.8em;
}

.suggestion-publisher {
  font-size: 0.8em;
  background-color: #ccc;
  color: #000000;
  border-radius: 50vh;
  padding: 0 5px;
}

.filter-title {
  margin: 0;
  margin-left: 20px;
  font-size: 0.8em;
}

.relevant-questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  width: 100%;
}

.relevant-questions-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* bold */
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
}

.relevant-questions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 90%;
}

.examples-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.instructions {
  border-left: 3px solid #1E90FF;
  padding-left: 20px;
  margin-bottom: 20px;
  /* make not selectable */
  user-select: none;
}

.instruction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.uaresearcher {
  cursor: pointer;
  color: #1E90FF;
  text-decoration: none;
}

.right-side-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.image-discord-logo {
  width: 35px;
  height: 35px;
  background-image: url('../../public/assets/discord-mark-black.svg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  /* increast the transparency to 60% */
  opacity: 0.2;
  margin: 0 10px;
  cursor: pointer;
  /* transition */
  transition: opacity 0.5s ease;
}
/* hover */
.image-discord-logo:hover {
  opacity: 1;
}

.outline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
}

.outline-item-title {
  font-size: 0.9em;
  text-shadow: none; /* Set the initial shadow to none */
  transition: color 0.5s ease; /* Add a transition effect for a smoother animation */
  margin: 10px 0;
}

.outline-item-title:hover {
  cursor: pointer;
  color: #1E90FF;
}

.citation {
  color: rgb(110, 110, 110);
  font-size: 0.6em;
  cursor: pointer;
  transition: color 0.5s ease;
}
.citation:hover {
  color: #1E90FF;
}

.references {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 20px;
  /* bold */
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}

.references-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  width: 90%;
}

.urlreference {
  font-size: 0.8em;
  cursor: pointer;
  transition: border-color 0.5s ease;
  border-left: #aaa 3px solid;
  padding-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #000000;
}
.urlreference:hover {
  border-color: #1E90FF;
}

.urlreference-index {
  margin-right: 5px;
  color: #1E90FF;
}