.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* height: 100%; */
}

.question-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* height: 50px; */
  /* border-bottom: 1px solid #e0e0e0; */
  padding: 0 20px;
}

.question-bar .question {
    padding-left: 0.5rem;
    font-size: larger;
    font-weight: 800;
    color: #306D95;
}

.question-bar:hover {
    cursor: pointer;
    text-decoration: underline;
    /* background-color: #f5f5f5; */
}

.answer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding-left: 350px;
    padding-right: 350px;
}

/* .answer-container .answer {
    padding-left: 1rem;
} */

.reference-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    border-top: solid 1px #e0e0e0;
}

.references {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;
}

.reference-container .header {
    padding-left: 1rem;
    font-size: larger;
    color: #5b5b5b;
}

.reference-key {
    font-size: larger;
    padding-right: 10px;
}