body {
  background-image: url(../../public/assets/bgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* overflow: hidden; */
}

.SearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  max-width: 100%;
  text-align: center;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  }

.SearchPage .logocenter {
  margin: 0 auto;
  font-size: 4rem;
  margin-bottom: 50px; 
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

.SearchPage .searchbarcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding-bottom: 100px;
}

.SearchPage .searchbar {
  width: 90%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
}

.SearchPage .searchbar:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255);
}

.SearchPage .searchbar:focus::placeholder {
  color: transparent;
}

.SearchPage .searchbutton {
  background-image: url(../../public/assets/searchbutton.svg);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 10px;
  /* border-radius: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0); */
}