.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   /* move the content up */
    margin-top: -80px;
  }

/* Set the styles for the containerusername */
.containerusername {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px; /* adjust this value as needed */
  padding: 10px;
}

/* Set the styles for the heading */
h4 {
  margin: 0;
  padding: 10px;
}

  
  h1 {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    width: 500px;
    max-width: 90%;
  }
  

  button[type="submit"] {
    padding: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: seagreen;
    color: white;
    width: 150px;
    max-width: 90%;
    cursor: pointer; /* added cursor property */
  }
  
  button[type="submit"]:hover {
    background-color: darkgreen; /* added hover effect */
  }

  body {
    overflow: hidden;
  }
  