body .bodytrackingpage {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
  }

.trackingpage {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    background-color: white;
    height: 100%;
    overflow: scroll;
    width: 100%;
  }

.trackingpagenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

/* Style for the left side containing the list */
.trackingpage .onefourth {
    width: 25%;
    margin-left: 3em;
    justify-items: center;
    border: none;
  }

.trackingpage .threefourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-left: 3em;
    background-color: #F9F9F9;
    }

/* Style for the title */
.trackingpage h1 {
    font-size: 1.2em;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    color: #666666;
  }

.trackingpagenav .trackingnavbutton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    border: none;
    font-size: 1.2em;
    text-align: left;
    color: #666666;
    margin-left: 50px;
    margin-top: 50px;
  }

.trackingpagenav .learninghistoryicon {
    background-image: url(../../public/assets/learninghistorybutton.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

.trackingpagenav .trackingnavbutton:hover {
    text-decoration: underline;
    cursor: pointer;
  }