/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Landing page styles */
  .LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    background-color: #f5f5f5;
  }
  
  .LandingPage h1 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .LandingPage p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .LandingPage button {
    /* padding: 10px 20px; */
    margin: 10px;
    font-size: 0.5rem;
    font-weight: light;
    color: #fff;
    background-color: #0077cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 200px;
  }
  
  .LandingPage button:hover {
    background-color: #005fa3;
  }
  
  /* Media queries */
  @media screen and (min-width: 768px) {
    .LandingPage {
      padding: 0 40px;
    }
  
    .LandingPage h1 {
      font-size: 4rem;
    }
  
    .LandingPage p {
      font-size: 1.8rem;
      margin-bottom: 60px;
    }
  
    .LandingPage button {
      font-size: 1.5rem;
      padding: 15px 30px;
    }

    .LandingPage a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .beta-symbol {
    color: #D4AF37; /* sets the color to dull yellow */
    font-weight: bold; /* makes the text bold */
    font-style: italic; /* makes the text italic */
  }
  