button.like-btn {
  /* background-image: url("../../../public/assets/Like.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

button.dislike-btn {
  /* background-image: url("../../../public/assets/Dislike.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button.liked {
  /* background-image: url("../../../public/assets/Liked.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button.disliked {
  /* background-image: url("../../../public/assets/Disliked.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
