.navbarsearchpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 30px;
    font-size: 25px;
  }

.navbardark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px;
    font-size: 25px;
  }
  
.navbar-brand {
  color: white;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin-left: 60px;
}
  
.navbar-brand:hover {
  text-decoration: none;
  background-color: transparent;
}

.navbar-profilecircle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-right: 60px;
  background-image: url(../../public/assets/profilecircle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-link {
  color: white;
  font-size: smaller;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin-right: 60px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: transparent;
}